
.todo {
  flex: 1;
  padding: 16px 40px;
  overflow-y: auto;
}


.todo__section {
  padding: 4rem;
}

.todo__section-title {
  font-size: 2rem;
}

.todo__feature {
  color: rgb(140, 40, 40);
  margin-top: 20px;
}

.todo__feature:hover {
  background-color: transparent;
  color: crimson;
}

/* Add input row */
.todo__input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
 
}

.todo__input-group {
  display: flex;
  gap: 20px;
}

.todo__input {
  width: 820px;
  height: 30px;
  border-radius: 5px;
   border: 1px solid black ;
   padding-left: 10px;
}

.todo__input:focus {
  outline: none;
}

/* Buttons */
.todo__btn {
  border: none;
  cursor: pointer;
}

.todo__btn--add {
  color: rgb(2, 94, 24);
}

.todo__btn--delete-all {
  padding: 5px;
  background: red;
  border: 1px solid red;
  color: white;
  font-size: 10px;
  border-radius: 5px;
}


.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  margin-bottom: 10px;
}
.todo__item-text--checked{
  color: green;
}

.todo__item-text {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  word-break: break-word;
  white-space: normal;
  width: 100%;
}

.todo__btn--edit {
  color: #0458df;
}


.todo__item-time {
  display: flex;

  font-size: 10px;
  color: rgba(107, 107, 107, 0.715);
}

.todo__item-time button {
  color: red;
}
.todo__item-text input{
  width: 500px;
  height: 30px;
}