.todo-container {
  flex: 1;
  padding: 16px 40px;
  background: white;
  overflow-y: auto;
 
}
.todo-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;

   
}
.todo-navbar__left{
  display: flex;
  gap: 15px;

}
.todo-task{

  padding: 4rem 4rem;
}
.todo-task h1{
 font-size: 2rem;
}

.todo-task .feature{
  color: rgb(140, 40, 40);
  margin-top: 20px;
}
.todo-task .feature:hover{
  background-color: transparent;
  color: crimson;
}

.list{
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background-color: white ;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
justify-content: space-between;
  display: flex;
  align-items: center;
}
.list button{
color: rgb(139, 23, 5);

}
.add-input{
  display: flex;
  gap: 20px;
 margin: 20px;
 justify-content: space-between;
  
}

.input-add__delete{
  display: flex;
  gap: 20px;
}
.add-input__btn-add{

color: rgb(2, 94, 24);

}
.add-input__btn-delete{
padding: 5px;
border: 1px solid rgb(255, 0, 0);
background-color: rgb(255, 0, 0);
color: azure;
font-size: 10px;
padding: 5px;
border-radius: 5px;
font-size: 8px;
}

.add-input input{
  width: 820px;
  height: 30px;
  border-radius:5px ;
 
}
.add-input input:focus{
  outline: none;
}
.list .time{
  font-size: 10px;
  color: rgba(107, 107, 107, 0.715);
   display: flex;
   gap: 10px;

}