.search{
    flex: 1;
  padding: 16px 40px;
  overflow-y: auto;
}
.search input{
  border: 1px solid black;
  width: 500px;
  border-radius:20px;
  padding-left: 10px;
  margin-top: 10px;
  height: 30px;
  flex-shrink: 0;
}
