.checked-container{
  flex: 1;
  padding: 16px 40px;
  overflow-y: auto;
  list-style-type: none;
}

.checked{
  display: inline-block;
  padding: 2rem 4rem;
}
.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title button{
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

