.app-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  border: 0;
  background-color: transparent;
  list-style: none;
  font-family: sans-serif;
}
.feature{
  text-decoration: none;

}


