

*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}

:root{
  font-family: sans-serif;
  font-size: 62.5%; /* 1rem = 10px for easy rem math */
  line-height: 1.4;
  color: #0f172a;
  background-color: #f8fafc;
}

